html {
    /*match bg.png color */
    background: rgb(194, 222, 236);
    background-image: url('../img/bg.png');
    /* just load bg on top half*/
    background-size: 200%;
    background-repeat: no-repeat;
}

body {
    background-color: rgba(255,255,255,0);
    overflow: hidden;
}

.feed {
    height: 800px;
    overflow: scroll;
}

.feed > .tweet-box {
    height: 80px;
    margin: 0px 0px 10px 0px;
    padding: 0px 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgba(11,48,48,0.1);
}

.message {
    font-size: 1.2em;
    text-align: center;
}

.timeago {
    color: gray;
}