html {
    background-image: url('bg.png');
    background-size: cover;
}

body {
    overflow: hidden;
    background-color: rgba(255,255,255,0);
}

.feed {
    height: 800px;
    overflow: scroll;
}

.feed > .tweet-box {
    height: 80px;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.4);
}