html {
    /*match bg.png color */
    background: rgb(194, 222, 236);
    background-image: url('bg.png');
    /* just load bg on top half*/
    background-size: 400%;
    background-repeat: no-repeat;
}

body {
    background-color: rgba(255,255,255,0);
    overflow: hidden;
}

.feed {
    height: 800px;
    overflow: scroll;
}

.feed > .tweet-box {
    height: 80px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.4);
}